<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="create-article">
      <div> 
          <%= form.label :title, class: "article-label" %>
          <%= form.text_field :title, class: "create-title" %>
      </div>
      <div>
          <%= form.label :content, class: "article-label" %>
          <%= form.text_area :content, class: "create-content" %>
      </div>
      <div class=""> 
          <%= form.submit class: "create-button" %>
      </div>
  </div>
<% end %>
